<header class="header" id="fance">
  <div class="text-vertical-center">
    <div class="img-logo-background">
      <img class="img-logo img-fluid" src="assets/img/fitness/PNG.png">
    </div>
    <p></p>
    <br>
    <a href="#getfancynow" class="btn btn-dark btn-lg js-scroll-trigger">Get Fancy Now</a>
  </div>
</header>
<section id="getfancynow" class="getfancynow background-white">
  <div class="container text-center">
    <h2>Fance bringt Abwechslung und Spaß in dein Workout.</h2> <br>
    <p>Durch die Kombination aus Fitnesstraining und Tanz trainierst du neben deiner Kondition auch deine
      Beweglichkeit, deine
      Koordination, dein Körpergefühl und deinen Ausdruck.

      <p>"Fance - It's about Fitness and Dance" wurde im Februar 2017 in der Heidelberger Bahnstadt ins Leben gerufen
        und
        erfreut sich mittlerweile auch überregional starker Beliebtheit.</p>
      <br>
      <p><a class="btn btn-dark btn-lg js-scroll-trigger" href="#fanceworkouts">Get Ready to Fance</a></p>
  </div>
</section>

<section id="fanceworkouts" class="fanceworkouts background-black">
  <div class="container">
    <div class="row text-center text-color-white">
      <div class="col-lg-10 mx-auto">
        <h2>Fancy Workouts</h2>
        <br>
        <p>Fance Workouts entstehen aus einem Zusammenspiel klassischer Tanzbewegungen mit dazu passenden Dehnungs-
          und Kräftigungsübungen.
          <br>
          <br>
          <hr class="small">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <!--<span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                  </span>-->
                <h4>
                  <strong>Hip Hop Fance</strong>
                </h4> <br>
                <p class="text-white">Nach einer rhythmischen Aufwärmphase beginnt das Workout mit fließenden
                  Dehnungsübungen gefolgt von kraftvollen
                  Dance Moves. <br>
                </p>
                <p class="text-white">Im Laufe des Workouts entstehen abwechslungsreiche Choreographien mit knackigen
                  Kräftigungs- und Stabilisierungsübungen.
                </p><br>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <h4>
                  <strong>Bachata Fance</strong>
                </h4><br>
                <p class="text-white">Bachata - Ein wunderschöner Tanz aus der Dominikanischen Republik.
                </p>
                <p class="text-white">Es erwartet dich eine tänzerische Reise in die Karibik.
                </p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <h4>
                  <strong>Merengue Fance</strong>
                </h4><br>
                <p class="text-white">Erlebe den Flow. Merengue eignet sich hervorragend für Einsteiger.
                </p>
                <p>Einen Vorgeschmack auf die Playlist findest Du <a href="#playlists">hier</a>.</p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <!--<span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                  </span>-->
                <h4>
                  <strong>Salsa Fance</strong>
                </h4><br>
                <p class="text-white">Bei diesem Paar- Workout lernst du ganz nebenbei über 20 typische Salsa
                  Tanzfiguren kennen.
                </p>
                <p class="text-white">Du trainierst gemeinsam mit deinem Tanzpartner deine Beweglichkeit und deine
                  Ausdauer.</p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <h4>
                  <strong>Techno Fance</strong>
                </h4><br>
                <p class="text-white">Bingo Bongo. Hier knallt es so richtig. Techno Classics am laufenden Band und
                  die entsprechenden Moves dazu. Erlebe die Eskalation.
                </p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <!--<span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                  </span>-->
                <h4>
                  <strong>Disco Fance</strong>
                </h4><br>
                <p class="text-white">Hier geht die Party richtig ab. Die Trainer heizen dir mit Popsongs und
                  knackigen Schlagern ein.
                </p>
                <p class="text-white">Du lernst nebenbei viele Discofox Tanzfiguren kennen.</p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <h4>
                  <strong>Zouk & Forró Fance</strong>
                </h4><br>
                <p class="text-white">Mit <a href="https://en.wikipedia.org/wiki/Forr%C3%B3">Forró</a>
                  und <a href="https://de.wikipedia.org/wiki/Zouk">Zouk</a> tauchen wir ein in die Welt brasilianischer Tänze.

                </p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="fanceworkouts-item">
                <h4>
                  <strong>Oriental Fance</strong>
                </h4><br>
                <p class="text-white">Körpergefühl, Körperspannung, Beweglichkeit und individueller Ausdruck stehen
                  hier im Vordergrund.
                </p>
                <p class="text-white">Es erwartet dich eine tänzerische Reise in den Orient.
                </p>
                <a href="#termine" class="btn btn-light">Let's Do It</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="fancehealth" class="fancehealth">
  <div class="container text-center">
    <h2>Gesundheit</h2> <br> Fance fördert die körperliche und geistige Fitness.
    <p></p>
    Schon bevor die Menschen schreiben konnten, tanzten sie.
    <br> Die Bewegung zur Musik verleiht Kraft und Selbstbewusstsein, sagt Gunter Kreutz von der Universität
    Oldenburg.
    Im <a
      href="http://www.spiegel.de/gesundheit/ernaehrung/wie-tanzen-als-medizin-wirkt-und-gluecklich-macht-a-881579.html">
      Interview </a> erklärt der Musikkognitionsforscher, warum Tanzen entspannt und wie es gegen Krankheiten
    hilft.
    <p></p>
  </div>
</section>
<aside class="call-to-action background-black">
  <div class="container text-center">
    <h3 class="text-color-coral">Was willst du jetzt tun?</h3>
    <p></p>
    <a href="#termine" class="btn btn-lg btn-light">I wanna
      Fance!</a>
    <a href="#playlists" class="btn btn-lg btn-light">Playlists Hören</a>
    <a href="#tutorials" class="btn btn-lg btn-light">Tutorials Anschauen</a>
    <p></p>
  </div>
</aside>


<section id="termine" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Termine</h2>
        <hr class="small">
        <p>Unsere Fance Trainer bieten Fance Kurse in ausgewählten Fitnessstudios sowie als regelmäßige Outdoor Events
          an.</p>
        Infos zu den in Heidelberg stattfindenden Fance Kursen findest Du in den folgenden WhatsApp Gruppen.<br>
        <p></p>
      </div>
    </div>
  </div>
</section>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=monday">
      <h3 class="text-color-coral">Fancy Monday</h3>
      <p></p>
      <h4>
        <strong>Bachata, Zouk und etwas Salsa</strong>
      </h4>
    </a>
    <br>

    <!-- todo zieharmonika einbauen -->
    <a target="_blank" href="https://fance-fitness.com?day=monday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-monday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=tuesday">
      <h3 class="text-color-coral">Fancy Tuesday</h3>
      <p></p>
      <h4>
        <strong>Salsa Cubana mit Debbie</strong>
      </h4>
    </a>
    <br>
    <a target="_blank" href="https://fance-fitness.com?day=tuesday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-tuesday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=wednesday">
      <h3 class="text-color-coral">Fancy Wednesday</h3>
      <p></p>
      <h4>
        <strong>Fance Mix</strong>
      </h4>
    </a>
    <br>
    <a target="_blank" href="https://fance-fitness.com?day=wednesday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-wednesday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=thursday">
      <h3 class="text-color-coral">Fancy Thursday</h3>
      <p></p>
      <h4>
        <strong>Disco Fance</strong>
      </h4>
    </a>
    <br>
    <a target="_blank" href="https://fance-fitness.com?day=thursday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-thursday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=friday">
      <h3 class="text-color-coral">Fancy Friday</h3>
      <p></p>
      <h4>
        <strong>Hip Hop & Techno</strong>
      </h4>
    </a>

    <br>

    <a target="_blank" href="https://fance-fitness.com?day=friday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-friday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=saturday">
      <h3 class="text-color-coral">Fancy Saturday</h3>
      <p></p>
      <h4>
        <strong>Fance Mix</strong>
      </h4>
    </a>
    <br>
    <a target="_blank" href="https://fance-fitness.com?day=saturday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-saturday.jpg">
    </div>
  </div>
</aside>

<aside class="call-to-action background-black">
  <div class="container text-center">
    <a target="_blank" href="https://fance-fitness.com?day=sunday">
      <h3 class="text-color-coral">Fancy Sunday</h3>
      <p></p>
      <h4>
        <strong>Fance Mix</strong>
      </h4>
    </a>
    <br>
    <a target="_blank" href="https://fance-fitness.com?day=sunday">Zur Whatsapp Gruppe</a>.
    <p></p> <br>
    <div class="fancefotos-item">
      <img class="img-fancefotos img-fluid" src="assets/img/fitness/qrcode-sunday.jpg">
    </div>
  </div>
</aside>


<section id="fancefotos" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Fance Foto Galerie</h2>
        <hr class="small">
        <p>Get Fancy</p><br>
        <div class="row">
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/dachterasse.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/fancespezialpfitzenmeier.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/campusviva.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/events/Salsa Rueda Dancing.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/events/salsa rueda group.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 07.58.33.jpg">
              </a>
            </div>
          </div>





          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 08.06.53.jpg">
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 08.07.10.jpg">
              </a>
            </div>
          </div>




          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/events/explaining.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/events/dancing.jpg">
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 07.57.55.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 07.57.47.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 07.58.10.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 07.58.28.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 08.06.58.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/2019-06-11 08.07.04.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/salsayuma-poster.png">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="fancefotos-item">
              <a href="#">
                <img class="img-fancefotos img-fluid" src="assets/img/disco-fance.png">
              </a>
            </div>
          </div>

        </div>
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
    </div>
  </div>
</section>

<section id="playlists" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Aktuelle Fance Playlists</h2>
        <hr class="small">
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLgUMKsBxbYN7Tv1a6fHRfkjTSx3sgdi_f">Hip Hop
          Fance</a><br>
        <p></p>
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLgUMKsBxbYN7niajEiVbYWc7GpOIoYXiI">Bachata
          Fance</a><br>
        <p></p>
        <a target="_blank"
          href="https://www.youtube.com/watch?v=WPiEbYSF9kE&list=PLgUMKsBxbYN6A-CvbLxvkB_rcYj9xQv8B">Merengue
          Fance</a><br>
        <p></p>
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLgUMKsBxbYN7PqlNRGhb-qTzNiAQG6wZR">Salsa
          Fance</a><br>
        <p></p>
        <a target="_blank"
          href="https://www.youtube.com/watch?v=VL6Hvvm1lV0&list=PLgUMKsBxbYN5bF2FUnoGvbXUKIYHnGyLw">Techno
          Fance</a><br>
        <p></p>
        <a target="_blank"
          href="https://www.youtube.com/watch?v=C26uCpEQqe0&list=PLgUMKsBxbYN6eEmoA3j_Mc7T6wg6drc5G">Disco
          Fance</a><br>
        <p></p>

        <a target="_blank"
          href="https://www.youtube.com/watch?v=PtWafYfzTIQ&list=PLgUMKsBxbYN551QTi4MW6l8T_GZ3nmD3u">Zouk
          Fance</a><br>
        <p></p>

        <a target="_blank"
          href="https://www.youtube.com/watch?v=PtWafYfzTIQ&list=PLgUMKsBxbYN551QTi4MW6l8T_GZ3nmD3u">Forro
          Fance</a><br>
        <p></p>

        <a target="_blank"
          href="https://www.youtube.com/watch?v=PtWafYfzTIQ&list=PLgUMKsBxbYN551QTi4MW6l8T_GZ3nmD3u">Box
          Fance</a><br>
        <p></p>
        <a target="_blank"
          href="https://www.youtube.com/watch?v=0lA-hlIDdCU&list=PLgUMKsBxbYN4D8Tsx0rVhq7138lWiBk_9">Oriental
          Fance</a><br>
        <p></p>
      </div>
    </div>
  </div>
</section>

<section id="tutorials" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Tutorials</h2>
        <hr class="small">
        Um unsere Tutorials mit allen Funktionen und ohne Werbung anzuschauen, empfehlen wir Dir den <a
          href="https://brave.com/fan464">Brave Browser</a>.
        <p><br></p>
        Die ersten drei Tutorial Videos jeder Fance Variante stehen per <a href="https://brave.com/fan464">Brave
          Browser</a> kostenlos bereit. <br> Jedes weitere Tutorial kostet <a href="https://basicattentiontoken.org">1
          BAT (Basic Attention Token)</a>.
      </div>
    </div>
  </div>
</section>


<section id="fanceworkouts" class="fanceworkouts background-black">
  <div class="container">
    <div class="row text-center text-color-white">
      <div class="col-lg-10 mx-auto">
        <h2>Personal Training</h2>
        <br>
        Debbie, Martin und Michael bieten zusätzlich individuellen Tanzunterricht.
        <aside class="call-to-action background-black">
          <div class="container text-center">
            <a href="mailto:Debbie@fance-fitness.com" class="btn btn-lg btn-light">Debbie Buchen</a>
            <a href="mailto:Martin@fance-fitness.com" class="btn btn-lg btn-light">Martin Buchen</a>
            <a href="mailto:Michael@fance-fitness.com" class="btn btn-lg btn-light">Michael Buchen</a>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>



<section id="instructor" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <br>
        <h2>Ausbildung zum Fance Instructor</h2>
        <hr class="small">
        <p></p><br>
        Bei erfolgreichem Bestehen der Abschlußprüfung bieten wir eine Jobgarantie in der Rhein Neckar Region. <p></p>
        Bei
        Nichtbestehen der Abschlußprüfung erstatten wir die Ausbildungsgebühr zurück.
        <br>
        <p></p>
        Wir bilden aktuell durchschnittlich pro Quartal drei neue Fance Instructors aus. <br>
        <p></p><br> Die Ausbildung erstreckt sich über acht Wochen.<br>
        Für die Ausbildung orientieren wir uns grob an der folgenden Agenda: <br>
        <p></p><br>
        <b> 1. Wochenende

        </b> <br> Basic Moves + Physiologie Basics <br>
        <p></p>
        <b>
          2. Wochenende
        </b><br> Basic Moves + Didaktik <br>
        <p></p>
        <b> 3. Wochenende
        </b><br>Pause
        <br>
        <p></p>
        <b>
          4. Wochenende
        </b> <br> Advanced Moves + Physiologie Advanced<br>
        <p></p>
        <b>
          5. Wochenende
        </b> <br> Advanced Moves + Didaktik<br>
        <p></p>
        <b>
          6. Wochenende
        </b> <br> Pause<br>
        <p></p>
        <b>
          7. Wochenende
        </b> <br> Real Life Practice as Co-Instructor<br>
        <p></p>
        <b>
          8. Wochenende
        </b> <br> Examination + Certification<br>
        <p></p>
        <p><br></p>
        Kosten der Ausbildung: 150 €
        <p></p><br>
      </div>
    </div>
  </div>
</section>


<section id="fanceworkouts" class="fanceworkouts background-black">
  <div class="container">
    <div class="row text-center text-color-white">
      <div class="col-lg-10 mx-auto">
        <h2>Partnerschaften</h2>
        <br>
        <aside class="call-to-action background-black">
          <div class="container text-center">
            <!-- <img src="assets/img/fitness/pfitzenmeier_fitness_since_1978_rz.png" alt=""> -->
            <a href="https://www.pfitzenmeier.de" class="btn btn-lg btn-light">Pfitzenmeier</a>
            <a href="https://www.salsayuma.de" class="btn btn-lg btn-light">Salsayuma</a>
            <!-- <a href="http://www.mrtut.de/" class="btn btn-lg btn-light">Mr. Tut</a> -->
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>

<section id="instructor" class="fancefotos">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <br>
        <h2>Danke an alle Fance Fans</h2>
        <br>

      </div>
    </div>
  </div>
</section>


<section id="contact" class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.3767553255107!2d8.666588851281912!3d49.40178047924312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797c0d0cd727a6f%3A0x9c3b5bfe21708003!2sZollhofgarten+8%2C+69115+Heidelberg%2C+Germany!5e0!3m2!1sen!2sus!4v1505293107584"
    width="100%" height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
</section>
<footer>

  <div class="container ">
    <div class="row ">
      <div class="col-lg-10 mx-auto text-center ">
        <p></p>
        <br> KEINE ABMAHNUNG OHNE KONTAKT
        <p></p>
        <br> Sollte der Inhalt fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen, informieren Sie mich
        ohne Kostennote.
        Ich garantiere, dass die zu Recht beanstandeten Passagen unverzüglich entfernt werden, ohne dass von Ihrer
        Seite
        die Einschaltung eines Rechtsbeistandes erforderlich ist. Dennoch von Ihnen ohne vorherige Kontaktaufnahme
        ausgelöste
        Kosten werden im Sinne der Schadensminderungspflicht zurückgewiesen und gegebenenfalls wird Gegenklage wegen
        Verletzung vorgenannter Bestimmungen eingereicht.
        <p></p>
        <br>
        Diese Seite befindet sich im Aufbau. Feedback ist jederzeit willkommen.

        <p><br></p>
        <p></p><br>
        <h4>
          <strong>Fancy Fance Fans</strong>
        </h4>
        <p>Zollhofgarten 8
          <br>69115 Heidelberg</p>
        <ul class="list-unstyled ">
          <li>
            <i class="fa fa-phone fa-fw "></i>+49 151 67 83 38 69</li>
        </ul>
        <br>
        <hr class="small ">
        <p class="text-muted ">Copyright &copy; Fance Fitness 2019</p>
      </div>
    </div>
  </div>
  <a id="to-top " href="#fance " class="btn btn-dark btn-lg js-scroll-trigger ">
    <i class="fa fa-chevron-up fa-fw fa-1x "></i>
  </a>
</footer>

<router-outlet></router-outlet>